.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mpQbt {
  width: 100%;
  height: auto;
  max-width: var(--token-HkiMJVZFpt0fB);
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__mpQbt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mpQbt > :global(.__wab_flex-container) > *,
.freeBox__mpQbt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mpQbt > :global(.__wab_flex-container) > picture > img,
.freeBox__mpQbt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mpQbt {
    width: 100%;
    height: auto;
    max-width: var(--token-HkiMJVZFpt0fB);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mpQbt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mpQbt > :global(.__wab_flex-container) > *,
  .freeBox__mpQbt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mpQbt > :global(.__wab_flex-container) > picture > img,
  .freeBox__mpQbt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__dO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dO > :global(.__wab_flex-container) > *,
.freeBox__dO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dO > :global(.__wab_flex-container) > picture > img,
.freeBox__dO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dO {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dO > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dO > :global(.__wab_flex-container) > *,
  .freeBox__dO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dO > :global(.__wab_flex-container) > picture > img,
  .freeBox__dO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___4Ekxq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__vvzx3 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vvzx3 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__cvRod {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cvRod {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__kTc9J {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kTc9J {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__s6Nvc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__s6Nvc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__s6Nvc > :global(.__wab_flex-container) > *,
.freeBox__s6Nvc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s6Nvc > :global(.__wab_flex-container) > picture > img,
.freeBox__s6Nvc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__rokNg:global(.__wab_instance) {
  position: relative;
}
.svg__wQnv8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jmbAx {
  height: auto;
}
.svg__ftKia {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__tSvol {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__gVuk {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 388px;
  margin-bottom: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.img__gVuk > picture > img {
  object-fit: cover;
}
.img__gVuk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__xtjSa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xtjSa {
    width: 100%;
  }
}
.freeBox__sPopq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sPopq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__sPopq > :global(.__wab_flex-container) > *,
.freeBox__sPopq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sPopq > :global(.__wab_flex-container) > picture > img,
.freeBox__sPopq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sPopq {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sPopq > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__ic97B {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__pBWqV {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__hyfLb:global(.__wab_instance) {
  position: relative;
}
.svg___9UlFr {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__bxCDx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__g2CnF:global(.__wab_instance) {
  position: relative;
}
.svg___3J1X {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__gIv8Z {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__u1P1O:global(.__wab_instance) {
  position: relative;
}
.svg__yDsqT {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.text___3Iucv {
  height: auto;
}
.svg__mqSZx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__qiI7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qiI7 {
    width: 100%;
  }
}
.img__jwL3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jwL3 > picture > img {
  object-fit: cover;
}
.img__jwL3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__mqbwf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mqbwf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__mqbwf > :global(.__wab_flex-container) > *,
.freeBox__mqbwf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqbwf > :global(.__wab_flex-container) > picture > img,
.freeBox__mqbwf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__meO84 {
  display: flex;
  flex-direction: row;
}
.freeBox__meO84 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__meO84 > :global(.__wab_flex-container) > *,
.freeBox__meO84 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__meO84 > :global(.__wab_flex-container) > picture > img,
.freeBox__meO84
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg___0SmiW {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__heQje {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___6OxaE {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__rzOjS {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__c6YYg {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
  display: none;
}
.button__jdDug:global(.__wab_instance) {
  position: relative;
}
.svg__ur0Hg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__u0TGi {
  height: auto;
}
.svg__n8X63 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
