.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__mpPK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__qm5T {
  display: flex;
  flex-direction: column;
}
.freeBox__qm5T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qm5T > :global(.__wab_flex-container) > *,
.freeBox__qm5T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qm5T > :global(.__wab_flex-container) > picture > img,
.freeBox__qm5T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__jbKnL {
  font-size: 48px;
}
.freeBox__puA8Z {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__puA8Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__puA8Z > :global(.__wab_flex-container) > *,
.freeBox__puA8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__puA8Z > :global(.__wab_flex-container) > picture > img,
.freeBox__puA8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__yJsvL:global(.__wab_instance) {
  position: relative;
}
.bullet__laJsQ:global(.__wab_instance) {
  position: relative;
}
.bullet__fVtH8:global(.__wab_instance) {
  position: relative;
}
.freeBox__csGti {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button___1SHi:global(.__wab_instance) {
  position: relative;
}
.svg__vd3Av {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__d76Re {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nu9Nn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
